<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.cch.healthy.dao.FoodMapper" >
  <resultMap id="BaseResultMap" type="cn.cch.healthy.model.Food" >
    <id column="Food_id" property="foodId" jdbcType="INTEGER" />
    <result column="Food_name" property="foodName" jdbcType="VARCHAR" />
    <result column="Food_fat" property="foodFat" jdbcType="DOUBLE" />
    <result column="Food_protein" property="foodProtein" jdbcType="DOUBLE" />
    <result column="Food_energy" property="foodEnergy" jdbcType="DOUBLE" />
    <result column="Food_vitamin_A" property="foodVitaminA" jdbcType="DOUBLE" />
    <result column="Food_vitamin_B_1" property="foodVitaminB1" jdbcType="DOUBLE" />
    <result column="Food_vitamin_B_2" property="foodVitaminB2" jdbcType="DOUBLE" />
    <result column="Food_vitamin_C" property="foodVitaminC" jdbcType="INTEGER" />
    <result column="Food_vitamin_E" property="foodVitaminE" jdbcType="DOUBLE" />
    <result column="Food_Ca" property="foodCa" jdbcType="DOUBLE" />
    <result column="Food_Mg" property="foodMg" jdbcType="DOUBLE" />
    <result column="Food_Fe" property="foodFe" jdbcType="DOUBLE" />
    <result column="Food_Zn" property="foodZn" jdbcType="DOUBLE" />
    <result column="Food_cholesterol" property="foodCholesterol" jdbcType="DOUBLE" />
    <result column="Food_margin" property="foodMargin" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    Food_id, Food_name, Food_fat, Food_protein, Food_energy, Food_vitamin_A, Food_vitamin_B_1, 
    Food_vitamin_B_2, Food_vitamin_C, Food_vitamin_E, Food_Ca, Food_Mg, Food_Fe, Food_Zn, 
    Food_cholesterol, Food_margin
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from food
    where Food_id = #{foodId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from food
    where Food_id = #{foodId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.cch.healthy.model.Food" >
    <selectKey resultType="java.lang.Integer" keyProperty="foodId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into food (Food_name, Food_fat, Food_protein, 
      Food_energy, Food_vitamin_A, Food_vitamin_B_1, 
      Food_vitamin_B_2, Food_vitamin_C, Food_vitamin_E, 
      Food_Ca, Food_Mg, Food_Fe, 
      Food_Zn, Food_cholesterol, Food_margin
      )
    values (#{foodName,jdbcType=VARCHAR}, #{foodFat,jdbcType=DOUBLE}, #{foodProtein,jdbcType=DOUBLE}, 
      #{foodEnergy,jdbcType=DOUBLE}, #{foodVitaminA,jdbcType=DOUBLE}, #{foodVitaminB1,jdbcType=DOUBLE}, 
      #{foodVitaminB2,jdbcType=DOUBLE}, #{foodVitaminC,jdbcType=INTEGER}, #{foodVitaminE,jdbcType=DOUBLE}, 
      #{foodCa,jdbcType=DOUBLE}, #{foodMg,jdbcType=DOUBLE}, #{foodFe,jdbcType=DOUBLE}, 
      #{foodZn,jdbcType=DOUBLE}, #{foodCholesterol,jdbcType=DOUBLE}, #{foodMargin,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.cch.healthy.model.Food" >
    <selectKey resultType="java.lang.Integer" keyProperty="foodId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into food
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="foodName != null" >
        Food_name,
      </if>
      <if test="foodFat != null" >
        Food_fat,
      </if>
      <if test="foodProtein != null" >
        Food_protein,
      </if>
      <if test="foodEnergy != null" >
        Food_energy,
      </if>
      <if test="foodVitaminA != null" >
        Food_vitamin_A,
      </if>
      <if test="foodVitaminB1 != null" >
        Food_vitamin_B_1,
      </if>
      <if test="foodVitaminB2 != null" >
        Food_vitamin_B_2,
      </if>
      <if test="foodVitaminC != null" >
        Food_vitamin_C,
      </if>
      <if test="foodVitaminE != null" >
        Food_vitamin_E,
      </if>
      <if test="foodCa != null" >
        Food_Ca,
      </if>
      <if test="foodMg != null" >
        Food_Mg,
      </if>
      <if test="foodFe != null" >
        Food_Fe,
      </if>
      <if test="foodZn != null" >
        Food_Zn,
      </if>
      <if test="foodCholesterol != null" >
        Food_cholesterol,
      </if>
      <if test="foodMargin != null" >
        Food_margin,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="foodName != null" >
        #{foodName,jdbcType=VARCHAR},
      </if>
      <if test="foodFat != null" >
        #{foodFat,jdbcType=DOUBLE},
      </if>
      <if test="foodProtein != null" >
        #{foodProtein,jdbcType=DOUBLE},
      </if>
      <if test="foodEnergy != null" >
        #{foodEnergy,jdbcType=DOUBLE},
      </if>
      <if test="foodVitaminA != null" >
        #{foodVitaminA,jdbcType=DOUBLE},
      </if>
      <if test="foodVitaminB1 != null" >
        #{foodVitaminB1,jdbcType=DOUBLE},
      </if>
      <if test="foodVitaminB2 != null" >
        #{foodVitaminB2,jdbcType=DOUBLE},
      </if>
      <if test="foodVitaminC != null" >
        #{foodVitaminC,jdbcType=INTEGER},
      </if>
      <if test="foodVitaminE != null" >
        #{foodVitaminE,jdbcType=DOUBLE},
      </if>
      <if test="foodCa != null" >
        #{foodCa,jdbcType=DOUBLE},
      </if>
      <if test="foodMg != null" >
        #{foodMg,jdbcType=DOUBLE},
      </if>
      <if test="foodFe != null" >
        #{foodFe,jdbcType=DOUBLE},
      </if>
      <if test="foodZn != null" >
        #{foodZn,jdbcType=DOUBLE},
      </if>
      <if test="foodCholesterol != null" >
        #{foodCholesterol,jdbcType=DOUBLE},
      </if>
      <if test="foodMargin != null" >
        #{foodMargin,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.cch.healthy.model.Food" >
    update food
    <set >
      <if test="foodName != null" >
        Food_name = #{foodName,jdbcType=VARCHAR},
      </if>
      <if test="foodFat != null" >
        Food_fat = #{foodFat,jdbcType=DOUBLE},
      </if>
      <if test="foodProtein != null" >
        Food_protein = #{foodProtein,jdbcType=DOUBLE},
      </if>
      <if test="foodEnergy != null" >
        Food_energy = #{foodEnergy,jdbcType=DOUBLE},
      </if>
      <if test="foodVitaminA != null" >
        Food_vitamin_A = #{foodVitaminA,jdbcType=DOUBLE},
      </if>
      <if test="foodVitaminB1 != null" >
        Food_vitamin_B_1 = #{foodVitaminB1,jdbcType=DOUBLE},
      </if>
      <if test="foodVitaminB2 != null" >
        Food_vitamin_B_2 = #{foodVitaminB2,jdbcType=DOUBLE},
      </if>
      <if test="foodVitaminC != null" >
        Food_vitamin_C = #{foodVitaminC,jdbcType=INTEGER},
      </if>
      <if test="foodVitaminE != null" >
        Food_vitamin_E = #{foodVitaminE,jdbcType=DOUBLE},
      </if>
      <if test="foodCa != null" >
        Food_Ca = #{foodCa,jdbcType=DOUBLE},
      </if>
      <if test="foodMg != null" >
        Food_Mg = #{foodMg,jdbcType=DOUBLE},
      </if>
      <if test="foodFe != null" >
        Food_Fe = #{foodFe,jdbcType=DOUBLE},
      </if>
      <if test="foodZn != null" >
        Food_Zn = #{foodZn,jdbcType=DOUBLE},
      </if>
      <if test="foodCholesterol != null" >
        Food_cholesterol = #{foodCholesterol,jdbcType=DOUBLE},
      </if>
      <if test="foodMargin != null" >
        Food_margin = #{foodMargin,jdbcType=INTEGER},
      </if>
    </set>
    where Food_id = #{foodId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.cch.healthy.model.Food" >
    update food
    set Food_name = #{foodName,jdbcType=VARCHAR},
      Food_fat = #{foodFat,jdbcType=DOUBLE},
      Food_protein = #{foodProtein,jdbcType=DOUBLE},
      Food_energy = #{foodEnergy,jdbcType=DOUBLE},
      Food_vitamin_A = #{foodVitaminA,jdbcType=DOUBLE},
      Food_vitamin_B_1 = #{foodVitaminB1,jdbcType=DOUBLE},
      Food_vitamin_B_2 = #{foodVitaminB2,jdbcType=DOUBLE},
      Food_vitamin_C = #{foodVitaminC,jdbcType=INTEGER},
      Food_vitamin_E = #{foodVitaminE,jdbcType=DOUBLE},
      Food_Ca = #{foodCa,jdbcType=DOUBLE},
      Food_Mg = #{foodMg,jdbcType=DOUBLE},
      Food_Fe = #{foodFe,jdbcType=DOUBLE},
      Food_Zn = #{foodZn,jdbcType=DOUBLE},
      Food_cholesterol = #{foodCholesterol,jdbcType=DOUBLE},
      Food_margin = #{foodMargin,jdbcType=INTEGER}
    where Food_id = #{foodId,jdbcType=INTEGER}
  </update>
</mapper>