<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.cch.healthy.dao.IllnessMapper" >
  <resultMap id="BaseResultMap" type="cn.cch.healthy.model.Illness" >
    <id column="ill_id" property="illId" jdbcType="INTEGER" />
    <result column="ill_name" property="illName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ill_id, ill_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from illness
    where ill_id = #{illId,jdbcType=INTEGER}
  </select>

  <select id="selectByIllname" resultMap="BaseResultMap">
    select * from illness where ill_name = #{illName,jdbcType=VARCHAR}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select * from illness
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from illness
    where ill_id = #{illId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.cch.healthy.model.Illness" >
    <selectKey resultType="java.lang.Integer" keyProperty="illId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into illness (ill_name)
    values (#{illName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.cch.healthy.model.Illness" >
    <selectKey resultType="java.lang.Integer" keyProperty="illId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into illness
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="illName != null" >
        ill_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="illName != null" >
        #{illName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.cch.healthy.model.Illness" >
    update illness
    <set >
      <if test="illName != null" >
        ill_name = #{illName,jdbcType=VARCHAR},
      </if>
    </set>
    where ill_id = #{illId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.cch.healthy.model.Illness" >
    update illness
    set ill_name = #{illName,jdbcType=VARCHAR}
    where ill_id = #{illId,jdbcType=INTEGER}
  </update>
</mapper>